 *, html, body{
 padding: none;
 margin: none;

}

body{
  background-color: black;
}
.putih{
  display: flex;
  background-color: white;
  color: white;
  width: 1000px;
  height: 30px;
 
}

.red{
  display: flex;
  background-color: red;
  color: red;
  width: 1000px;
  height: 50px;
 
}

.blue{
  display: flex;
  background-color: blue;
  color: blue;
  width: 1000px;
  height: 30px;
}


.wrapper{
  display: flex;
  background-color: white;
}

button{
  display: flex;
  background-color: greenyellow;
  width: 100px;
  height: 50px;
}

.frivasi{
  display: flex;
  background-color: darkblue;
  width: 1000px;
  height: 300px;
  margin-top: 900px;
  margin-left: 10px;
  
}

.nav li a{
  display: flex;
  color: white;
  margin-top: 35px;
  font-size: 30px;
}

.nav li a:hover{
  color: greenyellow;
}

marquee{
  background-color: white;
  color: red;
  width: 1000px;
}

